[user]
	name = Michal Piotrowski
	email = michalwski@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /Users/michalpiotrowski/.gitignore_global
	editor = nvim
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
[mergetool]
	prompt = false
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
