[user]
	name = Michal Piotrowski
	email = michalwski@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	pnv = push --no-verify
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /Users/michalpiotrowski/.gitignore_global
	editor = nvim
  pager = delta
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[merge]
	tool = nvimdiff
  conflictstyle = diff3
[mergetool]
	prompt = false
[difftool]
	prompt = true
[diff]
	tool = nvim
  colorMoved = default

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
  colorMoved = default
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  hunk-header-style = file line-number syntax
[interactive]
  diffFilter = delta --color-only
